.navbar{
    background-color: #EF9128;
    color: white;
    .container-navbar{
        display: flex;
        align-items: center;
        height: 50px;
        font-weight: bold;
        justify-content: space-between;
    }
}

.navbar{
    a{
        color: white;
        text-decoration: none;
    }
    img{
        width: 100px;
    }
}

.logout{
    cursor: pointer;
}